<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://www.gstatic.com/charts/loader.js"></script>
        <title>TerroristTracker</title>
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="stylesheet" href="/static/statistics/filtered-search.css">
        <link rel="stylesheet" href="/static/statistics/filters.css">
        <link rel="stylesheet" href="/static/statistics/filters2.css">
        <link rel="stylesheet" href="/static/statistics/chart.css">
        <link rel="stylesheet" href="/static/homepage/home.css">
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src='https://unpkg.com/leaflet-image@0.4.0/leaflet-image.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>

    <body>
        <header>
            <div class="logo">Terrorism Visualizer</div>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <nav class="nav-bar" id="main-nav-bar">
                <ul>
                    <li>
                        <a href="#home" class="active">Home</a>
                    </li>
                    <li>
                        <a href="#news">News</a>
                    </li>
                    <li>
                        <a href="#stat">Statistics</a>
                    </li>
                    <li>
                        <a href="#mapping">Map</a>
                    </li>
                    <li>
                        <a href="/logout">Log-out</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="vertical-container" id="main-container">

            <div class="section home" id="home">
                <div class="home-text">
                    <p class = "p1">Terrorism, in its broadest sense, is the use of intentional violence
                        and fear to achieve political or ideological aims.
                        The term is used in this regard primarily to refer to
                        intentional violence during peacetime or in the context of
                        war against non-combatants (mostly civilians and
                        neutral military personnel)</p>
                </div>
            </div>

            <div class="section" id="news">
                <div class="section-header">Last News </div>
                <br><br>
                <div class="slideshow-container">
                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides fade">
                        <a style="cursor: pointer;" id="open-news-text" target="_blank">
                        <img class = "news-image fade" src="/" style="width:100%" alt="No image found..."></a>
                        <a href="" target="_blank" id="news-anchor">
                            <div class="text"></div>
                        </a>
                        <a class="next" id="changeNewsBtn">&#10095;</a>
                    </div>
                </div>
                
                <br>
            </div>

            <div class="section" id="stat">
                <div class="section-header">Statistics</div>
                <br>
                <div class="horizontal-container">
                    <form class="form" id="formId" action="/api/stat" method="GET">
                        <label for="region">Select Region: </label>
                        <br>
                        <select id="region" name="region">
                        <option value="1">Select region:</option>
                        {{regionsOptions}}
                        <option value="-1">Any</option>
                        </select>
                        <br>
                        <label for="attack-type">Select Attack Type: </label>
                        <br>
                        <select id="attack-type" name="attack-type">
                        <option value="1">Select attack type:</option>
                        {{attackTypesOption}}
                        <option value="-1">Any</option>
                        </select>
                        <br>
                        <label for="main-target">Select Main Target: </label>
                        <br>
                        <select id="main-target" name="main-target">
                        <option value="1">Select target:</option>
                        {{targetsOptions}}
                        <option value="-1">Any</option>
                        </select>
                        <br>
                        <label for="main-nationality">Select Main Nationality: </label>
                        <select id="main-nationality" name="main-nationality">
                        <option value="1">Target nationality:</option>
                        {{nationalitiesOptions}}
                        <option value="-1">Any</option>
                        </select>
                        <br>
                        <label for="main-weapon">Select Main Weapon: </label>
                        <br>
                        <select id="main-weapon" name="main-weapon">
                        <option value="1">Select main weapon:</option>
                        {{weaponTypesOptions}}
                        <option value="-1">Any</option>
                        </select>
                        <br>
                        <label for="chart">Select Chart Type: </label>
                        <select id="chart">
                        <option value="0">Chart Type:</option>
                        <option value="1">Fatal vs Non-Fatal Attacks</option>
                        <option value="2">Material Damages Chart</option>
                        <option value="3">Deaths by Year Chart</option>
                        </select>
                        <br>
                        <input type="submit" value="Analyze" id="generate-chart">
                    </form>
                    <div class="chart">
                        <div id="anyChart"></div>
                    </div>
                </div>
                <button class="export-button-stats" onclick="openPopupStats()">Export</button>
                    <div id="popup-stats" class="popup-stats" style="display: none;">
                        <button class = "popup-button-stats" onclick="downloadChartAsCsv()">
                            <img src="static/images/csv.png" alt="Icon 1" loading="lazy">
                        </button>
                        <button class = "popup-button-stats" onclick="downloadChartAsPng()">
                            <img src="static/images/png.png" alt="Icon 2" loading="lazy">
                        </button>
                        <button class = "popup-button-stats" onclick="downloadChartAsSvg()">
                            <img src="static/images/svg.png" alt="Icon 3" loading="lazy">
                        </button>
                    </div>
            </div>

            <div class="section map-bg" id="mapping">
                <div class="section-header">Map Visualizer</div>
                <br>
                <div class="horizontal-container">
                    <form id = "mapForm" action="/api/map" class="form" method = "GET">
                        <label for="from">From:</label>
                        <input type="date" id="from" name="interval">
                        <br>
                        <label for="until">Until:</label>
                        <input type="date" id="until" name="interval">
                        <br>
                        <label for="Organization">Organization Name:</label>
                        <select id="Organization" name="Organization">
                        </select>
                        <br>
                        <input type="submit" value="Analyze">
                    </form>
                    <div id="map"></div>
                    <button class="export-button" onclick="openPopup()">Export</button>
                        <div id="popup" class="popup" style="display: none;">
                            <button class = "popup-button" onclick="downloadMapAsCsv()">
                                <img src="static/images/csv.png" alt="Icon 1" loading="lazy">
                            </button>
                            <button class = "popup-button" onclick="downloadMapAsPng()">
                                <img src="static/images/png.png" alt="Icon 2" loading="lazy">
                            </button>
                        </div>
                </div>
             </div>

             <div class="horizontal-container map-bg" id="map-container">
                <div class = "vertical-container" id="marker-details" style="display: none;"></div>
                <div id="map-chart"></div>
            </div>
        </div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">
            <span>&#8686;</span>
        </button>
        <script src="/static/fetchNews.js"></script>
        <script src="/static/scrollTopButton.js"> </script>
        <script src="/static/animate.js"> </script>
        <script src="/static/route.js"></script>
        <script src="/static/export.js"></script>
        <script src="/static/fetchFilters.js"></script>
        <script src="/static/mapChart.js"></script>

        <!-- Script pentru nav-bar cand max-width = 900px -->
        <script>
              hamburger = document.querySelector(".hamburger");
              hamburger.onclick = function() {
                navbar = document.querySelector(".nav-bar");
                navbar.classList.toggle("active");
              }
        </script>

        <!-- Script pentru pop-up export -->
        <script>
            function openPopup() {
                var popup = document.getElementById('popup');
                if (popup.style.display === "none") {
                    popup.style.display = "flex";
                }
                else popup.style.display = "none";
            }
        </script>

        <script>
            function openPopupStats() {
                var popup = document.getElementById('popup-stats');
                if (popup.style.display === 'none') {
                    popup.style.display = 'flex';
                }
                else popup.style.display = 'none';
            }
        </script>

        <!--Script pentru fade scroll-->
        <script>
            function updateBackgroundOpacity() {
                const background = document.querySelector('.home');
                const scrollPos = window.scrollY || window.pageYOffset;
                const elementHeight = background.offsetHeight;
                
                const opacity = 1 - (scrollPos / elementHeight);
                background.style.opacity = opacity;
            }
            window.addEventListener('scroll', updateBackgroundOpacity);
        </script>

    </body>
</html>
