<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Sign Up</h1>

    <form action="/login" method="POST">
      <input type="hidden" id="formType" name="formType" value="signup" />

      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <input type="submit" value="Sign Up" />
    </form>

    <h1>Login</h1>
    <form action="/login" method="POST">
      <input type="hidden" name="formType" value="signin" />
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />

      <input type="submit" value="Sign In" />
    </form>
  </body>
</html>
