/* ====================================== GENERATE BUTTON =============================================== */

#generate-chart {

  border: 2px solid #2c3e50;
  overflow: auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: static;
  width: 350px;
  margin-top: 10px;
  margin-left: 20px;
  font-family: "Google Sans Regular";
}


#generate-chart:hover {
    background: #b7c6f721;
}


/* ========================================= CHARTS =============================================== */
.chart {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#myPieChart {
  bottom: 50px;
  right: 300px;
  margin: 20px;
  width: 400px; 
  height: 300px;
}

#myBarChart {
  bottom: 0vh;
  right: 300px;
  margin: 20px;
  width: 400px; 
  height: 300px;
}
@media only screen and (max-width: 900px) {
    .chart {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}